:root {
    --color-main: #5867e8;
    --color-dark: #3d3d3d;
    --color-light: rgba(132, 139, 200, 0.3);
    --box-shadow: 0 2rem 3rem var(--color-light);
	/* Light mode */
	--color-main-light: #f8faff;
	--color-main-light-contrast: white;
	/* Dark Mode */
	--color-main-dark: #181826;
	--color-main-dark-contrast: #212134;
    /* News */
    --color-news: #fdbc48;
    --color-news-black: #101010;
    /* Library */
    --color-star: #fd4;
    /* Toast */
    --color-danger: #a70a1f;
    --color-info: #1dc2e0;
    --color-success: var(--color-main);
    --color-warning: #f8d300;
}
